<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleBarHeight</key>
	<integer>45</integer>
	<key>titleBarBackGroundColor</key>
	<string>FFFFFF</string>
	<key>titleBarTitle</key>
	<string>Scan Your Face</string>
	<key>titleBarTitleFont</key>
	<integer>18</integer>
	<key>titleTextColor</key>
	<string>000000</string>
	<key>hideCircleTip</key>
	<true/>
	<key>bottomTipTextColor</key>
	<string>468ee5</string>
	<key>customLanguage</key>
	<string>en-PH</string>
	<key>statusBarStyle</key>
	<string>0</string>
	<key>hideStatusBar</key>
	<true/>
</dict>
</plist>
