<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jsapis</key>
	<array>
		<dict>
			<key>name</key>
			<string>ZLZFoundationJsApiHandler</string>
			<key>jsApi</key>
			<string>hummerFoundation</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBLogJsApiHandler4AutoClick</string>
			<key>jsApi</key>
			<string>autoClick</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBLogJsApiHandler4RemoteLog</string>
			<key>jsApi</key>
			<string>remoteLog</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForGetSecureData</string>
			<key>jsApi</key>
			<string>getSecurityData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForSetSecureData</string>
			<key>jsApi</key>
			<string>setSecurityData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForAppToken</string>
			<key>jsApi</key>
			<string>getAppToken</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForScreenshot</string>
			<key>jsApi</key>
			<string>screenshot</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForSendEvents</string>
			<key>jsApi</key>
			<string>sendEvent</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForCheckSendEvent</string>
			<key>jsApi</key>
			<string>checkSendEvent</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForMatchIdentityData</string>
			<key>jsApi</key>
			<string>matchIdentityData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZIdentityJsApiHandler</string>
			<key>jsApi</key>
			<string>zimIdentity</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForInitializeZoloz</string>
			<key>jsApi</key>
			<string>initializeZoloz</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSAPIHandlerForProcessAuth</string>
			<key>jsApi</key>
			<string>processAuth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForLoginResult</string>
			<key>jsApi</key>
			<string>loginResult</string>
		</dict>
	</array>
	<key>plugins</key>
	<array>
		<dict>
			<key>name</key>
			<string>NBLogPlugin4manualSPM</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>application.pause</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>NBLogPlugin4manualSPM</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>scene.disappear.before</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>NBLogPlugin4SPM</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>application.pause</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>NBLogPlugin4SPM</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>scene.disappear.before</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForAddXLocalConfig</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.start.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForHandleProxyCashierRequest</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.response.received.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForHandleHoldLoginResponse</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.response.received.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginSetupXClientKeyRequest</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.start.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPPluginForHandlerApdidRequest</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.start.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForHandlerProxySignRequest</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.start.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForInternalInfoViewer</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>scene.titleView.title.click</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForHandleOfflinePackageSwitchResponse</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.response.received.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPluginForHandleRefreshConfigResponse</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>proxy.request.response.received.handle</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
