<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rpcAppId</key>
	<string>3CAFD11151557</string>
	<key>rpcAppKey</key>
	<string>3CAFD11151557_IOS</string>
	<key>business</key>
	<string>DANAW3ID</string>
	<key>configUrl</key>
	<string>http://iclientgw-d4624.dl.alipaydev.com/imgw.htm</string>
	<key>preUrl</key>
	<string>https://iclientgwpre.alipay.com/imgw.htm</string>
	<key>productId</key>
	<string>3CAFD11151557_ios</string>
	<key>syncHost</key>
	<string>11.160.18.15</string>
	<key>syncPort</key>
	<string>8666</string>
	<key>syncAppId</key>
	<string>2D005CA271131</string>
	<key>workspaceId</key>
	<string>dev</string>
</dict>
</plist>
