<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>CNY</string>
		<key>value</key>
		<string>156</string>
		<key>label</key>
		<string>￥</string>
	</dict>
	<dict>
		<key>code</key>
		<string>USD</string>
		<key>value</key>
		<string>840</string>
		<key>label</key>
		<string>US $</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HKD</string>
		<key>value</key>
		<string>344</string>
		<key>label</key>
		<string>HK$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TWD</string>
		<key>value</key>
		<string>901</string>
		<key>label</key>
		<string>NT$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EUR</string>
		<key>value</key>
		<string>978</string>
		<key>label</key>
		<string>€</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GBP</string>
		<key>value</key>
		<string>826</string>
		<key>label</key>
		<string>￡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JPY</string>
		<key>value</key>
		<string>392</string>
		<key>label</key>
		<string>¥</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BRL</string>
		<key>value</key>
		<string>986</string>
		<key>label</key>
		<string>R$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RUB</string>
		<key>value</key>
		<string>643</string>
		<key>label</key>
		<string>руб.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AUD</string>
		<key>value</key>
		<string>036</string>
		<key>label</key>
		<string>AU $</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CAD</string>
		<key>value</key>
		<string>124</string>
		<key>label</key>
		<string>C$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>INR</string>
		<key>value</key>
		<string>356</string>
		<key>label</key>
		<string>Rs.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UAH</string>
		<key>value</key>
		<string>980</string>
		<key>label</key>
		<string>грн.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MXN</string>
		<key>value</key>
		<string>484</string>
		<key>label</key>
		<string>MXN$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CHF</string>
		<key>value</key>
		<string>756</string>
		<key>label</key>
		<string>CHF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SGD</string>
		<key>value</key>
		<string>702</string>
		<key>label</key>
		<string>S$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PLN</string>
		<key>value</key>
		<string>985</string>
		<key>label</key>
		<string>PLN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AED</string>
		<key>value</key>
		<string>784</string>
		<key>label</key>
		<string>AED</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AFN</string>
		<key>value</key>
		<string>971</string>
		<key>label</key>
		<string>؋</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ALL</string>
		<key>value</key>
		<string>008</string>
		<key>label</key>
		<string>Lek</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AMD</string>
		<key>value</key>
		<string>051</string>
		<key>label</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ANG</string>
		<key>value</key>
		<string>532</string>
		<key>label</key>
		<string>ƒ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AOA</string>
		<key>value</key>
		<string>973</string>
		<key>label</key>
		<string>AOA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ARS</string>
		<key>value</key>
		<string>032</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AWG</string>
		<key>value</key>
		<string>533</string>
		<key>label</key>
		<string>ƒ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AZN</string>
		<key>value</key>
		<string>944</string>
		<key>label</key>
		<string>ман</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BAM</string>
		<key>value</key>
		<string>977</string>
		<key>label</key>
		<string>KM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BBD</string>
		<key>value</key>
		<string>052</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BDT</string>
		<key>value</key>
		<string>050</string>
		<key>label</key>
		<string>BDT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BGN</string>
		<key>value</key>
		<string>975</string>
		<key>label</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BHD</string>
		<key>value</key>
		<string>048</string>
		<key>label</key>
		<string>BHD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BIF</string>
		<key>value</key>
		<string>108</string>
		<key>label</key>
		<string>BIF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BMD</string>
		<key>value</key>
		<string>060</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BND</string>
		<key>value</key>
		<string>096</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BOB</string>
		<key>value</key>
		<string>068</string>
		<key>label</key>
		<string>$b</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BSD</string>
		<key>value</key>
		<string>044</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BTN</string>
		<key>value</key>
		<string>064</string>
		<key>label</key>
		<string>BTN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BWP</string>
		<key>value</key>
		<string>072</string>
		<key>label</key>
		<string>P</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BYR</string>
		<key>value</key>
		<string>974</string>
		<key>label</key>
		<string>p.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BZD</string>
		<key>value</key>
		<string>084</string>
		<key>label</key>
		<string>BZ$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CDF</string>
		<key>value</key>
		<string>976</string>
		<key>label</key>
		<string>CDF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CLP</string>
		<key>value</key>
		<string>152</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>COP</string>
		<key>value</key>
		<string>170</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CRC</string>
		<key>value</key>
		<string>188</string>
		<key>label</key>
		<string>₡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CUC</string>
		<key>value</key>
		<string>931</string>
		<key>label</key>
		<string>CUC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CUP</string>
		<key>value</key>
		<string>192</string>
		<key>label</key>
		<string>₱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CVE</string>
		<key>value</key>
		<string>132</string>
		<key>label</key>
		<string>CVE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CZK</string>
		<key>value</key>
		<string>203</string>
		<key>label</key>
		<string>Kč</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DJF</string>
		<key>value</key>
		<string>262</string>
		<key>label</key>
		<string>DJF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DKK</string>
		<key>value</key>
		<string>208</string>
		<key>label</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DOP</string>
		<key>value</key>
		<string>214</string>
		<key>label</key>
		<string>RD$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DZD</string>
		<key>value</key>
		<string>012</string>
		<key>label</key>
		<string>DZD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EGP</string>
		<key>value</key>
		<string>818</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ERN</string>
		<key>value</key>
		<string>232</string>
		<key>label</key>
		<string>ERN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ETB</string>
		<key>value</key>
		<string>230</string>
		<key>label</key>
		<string>ETB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FJD</string>
		<key>value</key>
		<string>242</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FKP</string>
		<key>value</key>
		<string>238</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GEL</string>
		<key>value</key>
		<string>981</string>
		<key>label</key>
		<string>GEL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GHS</string>
		<key>value</key>
		<string>936</string>
		<key>label</key>
		<string>GHS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GIP</string>
		<key>value</key>
		<string>292</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GMD</string>
		<key>value</key>
		<string>270</string>
		<key>label</key>
		<string>GMD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GNF</string>
		<key>value</key>
		<string>324</string>
		<key>label</key>
		<string>GNF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GTQ</string>
		<key>value</key>
		<string>320</string>
		<key>label</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GYD</string>
		<key>value</key>
		<string>328</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HNL</string>
		<key>value</key>
		<string>340</string>
		<key>label</key>
		<string>L</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HRK</string>
		<key>value</key>
		<string>191</string>
		<key>label</key>
		<string>kn</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HTG</string>
		<key>value</key>
		<string>332</string>
		<key>label</key>
		<string>HTG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HUF</string>
		<key>value</key>
		<string>348</string>
		<key>label</key>
		<string>Ft</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IDR</string>
		<key>value</key>
		<string>360</string>
		<key>label</key>
		<string>Rp</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ILS</string>
		<key>value</key>
		<string>376</string>
		<key>label</key>
		<string>₪</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IQD</string>
		<key>value</key>
		<string>368</string>
		<key>label</key>
		<string>IQD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IRR</string>
		<key>value</key>
		<string>364</string>
		<key>label</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ISK</string>
		<key>value</key>
		<string>352</string>
		<key>label</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JMD</string>
		<key>value</key>
		<string>388</string>
		<key>label</key>
		<string>J$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JOD</string>
		<key>value</key>
		<string>400</string>
		<key>label</key>
		<string>JOD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KES</string>
		<key>value</key>
		<string>404</string>
		<key>label</key>
		<string>KES</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KGS</string>
		<key>value</key>
		<string>417</string>
		<key>label</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KHR</string>
		<key>value</key>
		<string>116</string>
		<key>label</key>
		<string>៛</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KMF</string>
		<key>value</key>
		<string>174</string>
		<key>label</key>
		<string>KMF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KPW</string>
		<key>value</key>
		<string>408</string>
		<key>label</key>
		<string>₩</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KRW</string>
		<key>value</key>
		<string>410</string>
		<key>label</key>
		<string>₩</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KWD</string>
		<key>value</key>
		<string>414</string>
		<key>label</key>
		<string>KWD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KYD</string>
		<key>value</key>
		<string>136</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KZT</string>
		<key>value</key>
		<string>398</string>
		<key>label</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LAK</string>
		<key>value</key>
		<string>418</string>
		<key>label</key>
		<string>₭</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LBP</string>
		<key>value</key>
		<string>422</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LKR</string>
		<key>value</key>
		<string>144</string>
		<key>label</key>
		<string>₨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LRD</string>
		<key>value</key>
		<string>430</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LSL</string>
		<key>value</key>
		<string>426</string>
		<key>label</key>
		<string>LSL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LYD</string>
		<key>value</key>
		<string>434</string>
		<key>label</key>
		<string>LYD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MAD</string>
		<key>value</key>
		<string>504</string>
		<key>label</key>
		<string>MAD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MDL</string>
		<key>value</key>
		<string>498</string>
		<key>label</key>
		<string>MDL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MGA</string>
		<key>value</key>
		<string>969</string>
		<key>label</key>
		<string>MGA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MKD</string>
		<key>value</key>
		<string>807</string>
		<key>label</key>
		<string>ден</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MMK</string>
		<key>value</key>
		<string>104</string>
		<key>label</key>
		<string>MMK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MNT</string>
		<key>value</key>
		<string>496</string>
		<key>label</key>
		<string>₮</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MOP</string>
		<key>value</key>
		<string>446</string>
		<key>label</key>
		<string>MOP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MRO</string>
		<key>value</key>
		<string>478</string>
		<key>label</key>
		<string>MRO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MUR</string>
		<key>value</key>
		<string>480</string>
		<key>label</key>
		<string>₨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MVR</string>
		<key>value</key>
		<string>462</string>
		<key>label</key>
		<string>MVR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MWK</string>
		<key>value</key>
		<string>454</string>
		<key>label</key>
		<string>MWK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MYR</string>
		<key>value</key>
		<string>458</string>
		<key>label</key>
		<string>RM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MZN</string>
		<key>value</key>
		<string>943</string>
		<key>label</key>
		<string>MT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NAD</string>
		<key>value</key>
		<string>516</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NGN</string>
		<key>value</key>
		<string>566</string>
		<key>label</key>
		<string>₦</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NIO</string>
		<key>value</key>
		<string>558</string>
		<key>label</key>
		<string>C$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NOK</string>
		<key>value</key>
		<string>578</string>
		<key>label</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NPR</string>
		<key>value</key>
		<string>524</string>
		<key>label</key>
		<string>₨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NZD</string>
		<key>value</key>
		<string>554</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>OMR</string>
		<key>value</key>
		<string>512</string>
		<key>label</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PAB</string>
		<key>value</key>
		<string>590</string>
		<key>label</key>
		<string>B/.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PEN</string>
		<key>value</key>
		<string>604</string>
		<key>label</key>
		<string>S/.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PGK</string>
		<key>value</key>
		<string>598</string>
		<key>label</key>
		<string>PGK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PHP</string>
		<key>value</key>
		<string>608</string>
		<key>label</key>
		<string>₱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PKR</string>
		<key>value</key>
		<string>586</string>
		<key>label</key>
		<string>₨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PYG</string>
		<key>value</key>
		<string>600</string>
		<key>label</key>
		<string>Gs</string>
	</dict>
	<dict>
		<key>code</key>
		<string>QAR</string>
		<key>value</key>
		<string>634</string>
		<key>label</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RON</string>
		<key>value</key>
		<string>946</string>
		<key>label</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RSD</string>
		<key>value</key>
		<string>941</string>
		<key>label</key>
		<string>Дин.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RWF</string>
		<key>value</key>
		<string>646</string>
		<key>label</key>
		<string>RWF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SAR</string>
		<key>value</key>
		<string>682</string>
		<key>label</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SBD</string>
		<key>value</key>
		<string>090</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SCR</string>
		<key>value</key>
		<string>690</string>
		<key>label</key>
		<string>₨</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SDG</string>
		<key>value</key>
		<string>938</string>
		<key>label</key>
		<string>SDG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SEK</string>
		<key>value</key>
		<string>752</string>
		<key>label</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SHP</string>
		<key>value</key>
		<string>654</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SLL</string>
		<key>value</key>
		<string>694</string>
		<key>label</key>
		<string>SLL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SOS</string>
		<key>value</key>
		<string>706</string>
		<key>label</key>
		<string>S</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SRD</string>
		<key>value</key>
		<string>968</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>STD</string>
		<key>value</key>
		<string>678</string>
		<key>label</key>
		<string>STD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SYP</string>
		<key>value</key>
		<string>760</string>
		<key>label</key>
		<string>£</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SZL</string>
		<key>value</key>
		<string>748</string>
		<key>label</key>
		<string>SZL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>THB</string>
		<key>value</key>
		<string>764</string>
		<key>label</key>
		<string>฿</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TJS</string>
		<key>value</key>
		<string>972</string>
		<key>label</key>
		<string>TJS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TMT</string>
		<key>value</key>
		<string>934</string>
		<key>label</key>
		<string>TMT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TND</string>
		<key>value</key>
		<string>788</string>
		<key>label</key>
		<string>TND</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TOP</string>
		<key>value</key>
		<string>776</string>
		<key>label</key>
		<string>TOP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TRY</string>
		<key>value</key>
		<string>949</string>
		<key>label</key>
		<string>TRY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TTD</string>
		<key>value</key>
		<string>780</string>
		<key>label</key>
		<string>TT$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TZS</string>
		<key>value</key>
		<string>834</string>
		<key>label</key>
		<string>TZS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UGX</string>
		<key>value</key>
		<string>800</string>
		<key>label</key>
		<string>UGX</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UYU</string>
		<key>value</key>
		<string>858</string>
		<key>label</key>
		<string>$U</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UZS</string>
		<key>value</key>
		<string>860</string>
		<key>label</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VEF</string>
		<key>value</key>
		<string>937</string>
		<key>label</key>
		<string>Bs</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VND</string>
		<key>value</key>
		<string>704</string>
		<key>label</key>
		<string>₫</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VUV</string>
		<key>value</key>
		<string>548</string>
		<key>label</key>
		<string>VUV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WST</string>
		<key>value</key>
		<string>882</string>
		<key>label</key>
		<string>WST</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XAF</string>
		<key>value</key>
		<string>950</string>
		<key>label</key>
		<string>XAF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XAG</string>
		<key>value</key>
		<string>961</string>
		<key>label</key>
		<string>XAG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XAU</string>
		<key>value</key>
		<string>959</string>
		<key>label</key>
		<string>XAU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XCD</string>
		<key>value</key>
		<string>951</string>
		<key>label</key>
		<string>$</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XDR</string>
		<key>value</key>
		<string>960</string>
		<key>label</key>
		<string>XDR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XOF</string>
		<key>value</key>
		<string>952</string>
		<key>label</key>
		<string>XOF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XPD</string>
		<key>value</key>
		<string>964</string>
		<key>label</key>
		<string>XPD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XPF</string>
		<key>value</key>
		<string>953</string>
		<key>label</key>
		<string>XPF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>XPT</string>
		<key>value</key>
		<string>962</string>
		<key>label</key>
		<string>XPT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>YER</string>
		<key>value</key>
		<string>886</string>
		<key>label</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZAR</string>
		<key>value</key>
		<string>710</string>
		<key>label</key>
		<string>R</string>
	</dict>
</array>
</plist>
