<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jsapis</key>
	<array>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForStartupParams</string>
			<key>jsApi</key>
			<string>getStartupParams</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForNotification</string>
			<key>jsApi</key>
			<string>postNotification</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandler4PushWindow</string>
			<key>jsApi</key>
			<string>pushWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForHttpRequest</string>
			<key>jsApi</key>
			<string>httpRequest</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandler4PopWindow</string>
			<key>jsApi</key>
			<string>popWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandler4StartSession</string>
			<key>jsApi</key>
			<string>startSession</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandler4ExitSession</string>
			<key>jsApi</key>
			<string>exitSession</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandler4PopTo</string>
			<key>jsApi</key>
			<string>popTo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForCheckJsApi</string>
			<key>jsApi</key>
			<string>checkJSAPI</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPJSApiHandlerForLoadLocalImage</string>
			<key>jsApi</key>
			<string>loadLocalImage</string>
		</dict>
	</array>
	<key>plugins</key>
	<array>
		<dict>
			<key>name</key>
			<string>IAPPlugin4NavigationCloseItem</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>scene.navigationItem.left.close.click</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4HandleSessionCreate</string>
			<key>scope</key>
			<string>service</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>scene.create.before</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Proxy</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Service</string>
			<key>scope</key>
			<string>service</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Session</string>
			<key>scope</key>
			<string>proxy</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Scene</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4LoadingView</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4TitleBar</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4NavigationTitleView</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Toolbar</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4NavigationItem</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4ProgressView</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>IAPPlugin4Alert</string>
			<key>scope</key>
			<string>scene</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>-</string>
					<key>useCapture</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
